--- Python Basics (Junk files) ---

pycache/
*.py[cod]
*$py.class

--- Virtual Environments (Local settings) ---

.venv/
venv/
env/
ENV/

--- VS Code Settings (Local user settings) ---

.vscode/

--- Project Specific (Too big for GitHub) ---

dataset/
train.csv
test.csv

--- Mac OS Metadata ---

.DS_Store
